# smart-cabinet-cu
# ใส่ใน VirtualHost ที่ใช้ (หรือ Include ใน httpd-vhosts.conf ของ Apache)
# ลำดับสำคัญ: /api/smart-cabinet-cu/v1/ ต้องอยู่ก่อน /smart-cabinet-cu/ เพื่อไม่ให้ API ชน frontend

# ให้แอปรู้ว่าเข้าผ่าน HTTPS และ host ภายนอก (ใช้กับ NextAuth / redirect)
# Proxy all /smart-cabinet-presentation API paths
	<Location "/api/smart-cabinet-presentation/v1/">
    	ProxyPreserveHost On
    	ProxyPass http://10.1.1.10:7105/api/smart-cabinet-presentation/v1/
   		ProxyPassReverse http://10.1.1.10:7105/api/smart-cabinet-presentation/v1/
	</Location>

	# Proxy all /smart-cabinet-presentation paths
	RewriteRule ^/smart-cabinet-presentation(/.*)?$ http://10.1.1.10:7205/smart-cabinet-presentation$1 [P,L]
	ProxyPassReverse /smart-cabinet-presentation http://10.1.1.10:7205/smart-cabinet-presentation
	<LocationMatch "^/smart-cabinet-presentation">
    		ProxyPreserveHost On
    		RequestHeader set X-Forwarded-Proto "https"
    		RequestHeader set X-Forwarded-Host "phc.dyndns.biz"
	</LocationMatch>

